# Airflow
AIRFLOW_UID=50000

# AWS (opcional se usar perfil default em ~/.aws/credentials)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_DEFAULT_REGION=us-east-1

# S3 (ajustar conforme seu bucket/prefixo)
# S3_BUCKET=estudos-dan-sql
# S3_VENDAS_PREFIX=vendas/
